<!-- mx-auto for center the div   and py-16 mins padding to and bottom 4 rem -->
<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">
        <!-- class="w-1/2"   wirth 50% thai jai -->
        <div class="w-1/2">
            <h6 class="text-lg py-2"><em>Are You Hungry ?</em></h6>
            <h1 class="text-3xl font-bold md:text-6xl">Dont't wait !</h1>
            <button class="btn-primary px-6 py-2 rounded-full text-white  font-bold mt-4">Order Now</button>
        </div>
        <div class="w-1/2">
            <img src="/img/hero-pizza.png" alt="">
        </div>
    </div>
</section>

<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">All Pizzas</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-16">

        <% pizzas.forEach(function(pizza){ %>

            <div class="md:w-64 w-full">
                <img class="h-40 mb-4 mx-auto" src="/img/<%= pizza.image %>" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">
                        <%= pizza.name %>
                    </h2>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs">
                        <%= pizza.size %>
                    </span>

                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">$<%= pizza.price %></span>

                        <!-- data-pizza : mins aa button per click kaarvathi pizza no data pizza name thi mali jase  -->
                        <!-- aahi pizza:- objects 6 so tene string ma convert karvo pade -->
                        <button data-pizza="<%= JSON.stringify(pizza) %>"
                            class="add-to-class py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>

                </div>
            </div>

            <% }) %>

    </div>


</section>